html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}
html .roboto-thin,
body .roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
html .roboto-light,
body .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
html .roboto-regular,
body .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html .roboto-medium,
body .roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
html .roboto-bold,
body .roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
html .roboto-black,
body .roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
html .roboto-thin-italic,
body .roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}
html .roboto-light-italic,
body .roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
html .roboto-regular-italic,
body .roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
html .roboto-medium-italic,
body .roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
html .roboto-bold-italic,
body .roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}
html .roboto-black-italic,
body .roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
}

._container {
  position: relative;
  max-width: 1320px;
  margin: 0px auto;
}

._container-2 {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

.header {
  margin: 0 auto;
  background-image: url(../images/daisies.jpg);
  max-width: 550px;
  margin-top: 50px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid deepskyblue;
}

#buttonBuy {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid deepskyblue;
  background-color: white;
  color: deepskyblue;
  padding: 15px 50px 15px 50px;
  text-transform: uppercase;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 24px;
}
#buttonBuy:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: whitesmoke;
}

.header__form {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  display: none;
}
.header__form .input__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
}
.header__form .input__name input {
  background-color: ghostwhite;
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}
.header__form textarea {
  min-height: 200px;
  resize: none;
  width: 100%;
  background-color: ghostwhite;
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: 1px solid gray;
  color: gray;
  margin-bottom: 15px;
}

.city-office {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.city-office p {
  color: ghostwhite;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}
.card input {
  background-color: ghostwhite;
  padding: 10px 10px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}
.card .input__month_year {
  max-width: 85px;
  padding: 8px 12px;
  font-size: 23px;
}
.card .input__month_year::-webkit-input-placeholder {
  font-size: 16.5px;
}
.card .input__month_year::-moz-placeholder {
  font-size: 16.5px;
}
.card .input__month_year:-ms-input-placeholder {
  font-size: 16.5px;
}
.card .input__month_year::-ms-input-placeholder {
  font-size: 16.5px;
}
.card .input__month_year::placeholder {
  font-size: 16.5px;
}
.card #cardNumber {
  background-color: ghostwhite;
  padding: 10px 10px;
  max-width: 220px;
  outline: none;
  font-size: 20px;
  border: 1px solid gray;
  color: gray;
}
.card #cardNumber::-webkit-input-placeholder {
  font-size: 18px;
}
.card #cardNumber::-moz-placeholder {
  font-size: 18px;
}
.card #cardNumber:-ms-input-placeholder {
  font-size: 18px;
}
.card #cardNumber::-ms-input-placeholder {
  font-size: 18px;
}
.card #cardNumber::placeholder {
  font-size: 18px;
}

.input__CVV {
  max-width: 62px;
  padding: 8px 12px;
  font-size: 23px;
}
.input__CVV::-webkit-input-placeholder {
  font-size: 18px;
}
.input__CVV::-moz-placeholder {
  font-size: 18px;
}
.input__CVV:-ms-input-placeholder {
  font-size: 18px;
}
.input__CVV::-ms-input-placeholder {
  font-size: 18px;
}
.input__CVV::placeholder {
  font-size: 18px;
}

.quantity_of_goods_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quantity_of_goods_buy #state {
  color: dodgerblue;
  text-shadow: 1px 1px 2px white;
}

#send {
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  padding: 5px 20px;
  background-color: orange;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 18px;
}
#send:hover {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background-color: orangered;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quantity_of_goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quantity_of_goods p {
  color: ghostwhite;
}
.quantity_of_goods input {
  max-width: 50px;
  background-color: ghostwhite;
  padding: 5px 5px 5px 5px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}

.placeholderRed::-webkit-input-placeholder {
  color: red;
}

.placeholderRed::-moz-placeholder {
  color: red;
}

.placeholderRed:-ms-input-placeholder {
  color: red;
}

.placeholderRed::-ms-input-placeholder {
  color: red;
}

.placeholderRed::placeholder {
  color: red;
}

#spisokCity {
  background-color: ghostwhite;
  padding: 5px 5px 5px 5px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}

#spisokOffice {
  background-color: ghostwhite;
  padding: 5px 5px 5px 5px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}

.informationAboutOrder {
  width: 100vw;
  background-color: wheat;
  position: absolute;
  height: 100vh;
  text-align: center;
  padding: 50px;
  display: none;
}
.informationAboutOrder .informationAboutOrder__section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.informationAboutOrder .informationAboutOrder__section-one h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.informationAboutOrder .informationAboutOrder__section-two {
  margin-bottom: 20px;
}
.informationAboutOrder .informationAboutOrder__section-two p {
  font-size: 18px;
  margin-bottom: 10px;
}
.informationAboutOrder a {
  color: red;
  font-size: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.informationAboutOrder a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: dodgerblue;
}