html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
}

._container {
  position: relative;
  max-width: 1320px;
  margin: 0px auto;
}

._container-2 {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin-top: 50px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img img {
  max-width: 500px;
  border-radius: 15px;
}

.button__prev {
  padding: 0px 50px;
}
.button__prev #prev {
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button__prev #prev:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: green;
  -webkit-box-shadow: 1px 1px 10px gray;
          box-shadow: 1px 1px 10px gray;
}

.button__next {
  padding: 0px 50px;
}
.button__next #next {
  padding: 10px 20px 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button__next #next:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: green;
  -webkit-box-shadow: 1px 1px 10px gray;
          box-shadow: 1px 1px 10px gray;
}

.counter__body {
  background-color: orangered;
  border-radius: 10px;
  margin-top: 20px;
}
.counter__body .counter {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}