// #########_Link_###################################################

// @import "_vars";
// @import "_fonts";
// @import "_slick";

// #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
}

._container {
  position: relative;
  max-width: 1320px;
  margin: 0px auto;
}

._container-2 {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

// #########_Header_###################################################

.header {
  margin: 0 auto;
  background-image: url(../images/daisies.jpg);
  max-width: 550px;
  margin-top: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid deepskyblue;
}

#buttonBuy {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid deepskyblue;
  background-color: white;
  color: deepskyblue;
  padding: 15px 50px 15px 50px;
  text-transform: uppercase;
  border-radius: 15px;
  transition: all 0.5s ease;
  font-size: 24px;
  &:hover {
    cursor: pointer;
    transition: all 0.5s ease;
    background-color: whitesmoke;
  }
}

.header__form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  margin-bottom: 20px;
  display: none;
  & .input__name {
    display: flex;
    width: 100%;
    gap: 30px;
    & input {
      background-color: ghostwhite;
      padding: 10px 20px;
      border-radius: 15px;
      outline: none;
      border: 1px solid gray;
      color: gray;
    }
  }
  & textarea {
    min-height: 200px;
    resize: none;
    width: 100%;
    background-color: ghostwhite;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: 1px solid gray;
    color: gray;
    margin-bottom: 15px;
  }
}

.city-office {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  gap: 15px;
  display: flex;
  & p {
    color: ghostwhite;
  }
}

.card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  & input {
    background-color: ghostwhite;
    padding: 10px 10px;
    outline: none;
    border: 1px solid gray;
    color: gray;
  }
  .input__month_year {
    max-width: 85px;
    padding: 8px 12px;
    font-size: 23px;
    &::placeholder {
      font-size: 16.5px;
    }
  }
  & #cardNumber {
    background-color: ghostwhite;
    padding: 10px 10px;
    max-width: 220px;
    outline: none;
    font-size: 20px;
    border: 1px solid gray;
    color: gray;
    &::placeholder {
      font-size: 18px;
    }
  }
}

.input__CVV {
  max-width: 62px;
  padding: 8px 12px;
  font-size: 23px;
  &::placeholder {
    font-size: 18px;
  }
}

.quantity_of_goods_buy {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  & #state {
    color: dodgerblue;
    text-shadow: 1px 1px 2px white;
  }
}

#send {
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  padding: 5px 20px;
  background-color: orange;
  border-radius: 5px;
  transition: all 0.5s ease;
  font-size: 18px;
  &:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    background-color: orangered;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

.quantity_of_goods {
  display: flex;
  gap: 10px;
  align-items: center;
  & p {
    color: ghostwhite;
  }
  & input {
    max-width: 50px;
    background-color: ghostwhite;
    padding: 5px 5px 5px 5px;
    outline: none;
    border: 1px solid gray;
    color: gray;
  }
}

.placeholderRed {
  &::placeholder {
    color: red;
  }
}

#spisokCity {
  background-color: ghostwhite;
  padding: 5px 5px 5px 5px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}

#spisokOffice {
  background-color: ghostwhite;
  padding: 5px 5px 5px 5px;
  outline: none;
  border: 1px solid gray;
  color: gray;
}

.informationAboutOrder {
  width: 100vw;
  background-color: wheat;
  position: absolute;
  height: 100vh;
  text-align: center;
  padding: 50px;
  display: none;
  & .informationAboutOrder__section-one {
    display: flex;
    justify-content: center;
    gap: 30px;
    & h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  & .informationAboutOrder__section-two {
    margin-bottom: 20px;
    & p {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  & a {
    color: red;
    font-size: 20px;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      color: dodgerblue;
    }
  }
}
