// #########_Link_###################################################

// @import "_vars";
// @import "_fonts";
// @import "_slick";

// #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
}

._container {
  position: relative;
  max-width: 1320px;
  margin: 0px auto;
}

._container-2 {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

// #########_Header_###################################################

.header__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 50px;
}

.slider {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.img {
  display: flex;
  align-items: center;
  & img {
    max-width: 500px;
    border-radius: 15px;
  }
}

.button__prev {
  padding: 0px 50px;
  #prev {
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      background-color: green;
      box-shadow: 1px 1px 10px gray;
    }
  }
}

.button__next {
  padding: 0px 50px;
  #next {
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    transition: all 0.5s ease;
    &:hover {
      transition: all 0.5s ease;
      background-color: green;
      box-shadow: 1px 1px 10px gray;
    }
  }
}

.counter__body {
  background-color: orangered;
  border-radius: 10px;
  margin-top: 20px;
  & .counter {
    padding: 10px 20px;
    color: white;
    font-size: 20px;
  }
}
