// #########_Link_###################################################

// @import "_vars";
// @import "_fonts";
// @import "_slick";

// #########_Cancellation_###################################################

html,
body {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  margin-top: auto;
}

._container {
  position: relative;
  max-width: 1320px;
  margin: 0px auto;
}

._container-2 {
  position: relative;
  max-width: 1080px;
  margin: 0px auto;
}

// #########_Header_###################################################

.button__body {
  display: flex;
  padding-top: 50px;
  .button {
    margin: 0 auto;
    padding: 15px 25px 15px 25px;
    background-color: orangered;
    border: none;
    color: white;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease;
      box-shadow: 0px 0px 5px black;
      background-color: green;
    }
  }
}

#img {
  width: 100%;
  display: flex;
  margin-top: 50px;
  & img {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
  }
}
